/* Задание 3 */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Задание 7 */
#validation {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
